<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">sa</property>
        <!--  <property name="hibernate.connection.password">sa</property>-->
        <!-- U mnie: sa, na bazie 1234!@#$, u radka thror -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="javax.persistence.validation.mode">none</property>
        <mapping resource="pl/edu/pw/mini/sozpw/dataaccess/models/User.hbm.xml"></mapping>
        <mapping resource="pl/edu/pw/mini/sozpw/dataaccess/models/Note.hbm.xml"></mapping>
        <mapping resource="pl/edu/pw/mini/sozpw/dataaccess/models/Attachment.hbm.xml"></mapping>
        <mapping resource="pl/edu/pw/mini/sozpw/dataaccess/models/Cathegory.hbm.xml"></mapping>
        <mapping resource="pl/edu/pw/mini/sozpw/dataaccess/models/Point.hbm.xml"></mapping>
        <mapping resource="pl/edu/pw/mini/sozpw/dataaccess/models/Comment.hbm.xml"></mapping>
        <mapping resource="pl/edu/pw/mini/sozpw/dataaccess/models/LogInSession.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>